<div class="row">
  <div class="col s12 m2"></div>
  <div class="col s12 m8">
    <div class="card large">
      <div class="card-image">
        <img src="<%= post.photo %>">
        <span class="card-title black-text cyan lighten-4 opacity"><%= post.name %></span>
      </div>
      <div class="card-content">
        <p><%= post.location %></p>
        <p><%= post.date %></p>
        Overall:
        <% for (let i = 0; i < post.rating; i++) { %>
          <i class="fas fa-star"></i>
        <% } %>
        </br>
        Service:
        <% for (let i = 0; i < post.service; i++) { %>
          <i class="fas fa-utensils"></i>
        <% } %>
        </br>
        Food:
        <% for (let i = 0; i < post.food; i++) { %>
          <i class="material-icons pizza">local_pizza</i>
        <% } %>
        </br>
        Price:
        <% for (let i = 0; i < post.price; i++) { %>
          <i class="far fa-money-bill-alt"></i>
        <% } %>
        </br>
        <a href="/users/<%= post.user._id %>"><%= post.user.username %><span id="userlinks">'s other reviews</span></a>
      </div>
      <div class="card-action valign-wrapper">
        <% if (locals.user) { %>
          <% if((post.user && post.user.id) === locals.user.id) { %>
            <a href="/posts/<%= post._id %>/edit" class="orange-text" id="floatright">Edit Review</a>
          <% } %>
        <% } %>
        <% if (locals.user) { %>
          <% if((post.user && post.user.id) === locals.user.id) { %>
            <form action="/posts/<%= post.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn red">Delete Review</button>
            </form>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col s12 m2"></div>
</div>
